# Python
__pycache__/
*.pyc
.venv/
my1stmodel.venv/
*.egg-info/

# Model files (too large for GitHub)
models/checkpoints/
models/*.pth
data/

# IDE
.vscode/
.idea/

# Output images
samples/
animation/
animation_grid/
*.png
*.gif
*.jpg
*.mp4